.imgContainer {
  max-width: 44%;
  min-width: 400px;
  margin-inline: auto;

  @media (max-width: 576px) {
    max-width: none;
    min-width: auto;
  }
}

.topImg {
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;

  @media (max-width: 576px) {
    cursor: default;
  }

  .imgMain {
    border-radius: 16px;

    @media (max-width: 576px) {
      width: 100vw;
      min-height: 300px;
      max-height: 400px;
      object-fit: cover;
      border-radius: 0;
    }
  }
}

.thumbnail {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 576px) {
    display: none;
  }

  .thumbImgContainer {
    width: 92px;
    height: 92px;
    padding: 0;
    border-radius: 10px;
    border: 2px solid transparent;
    overflow: hidden;
    cursor: pointer;
    
    &:hover {
      .imgThumbnail {
        opacity: 0.5;
      }
    }

    .imgThumbnail {
      transition: opacity 0.2s;
    }
  }

  .active {
    border: 2px solid #ff7d1a;
    cursor: default;

    .imgThumbnail {
      opacity: 0.5;
    }
  }
}

.modalContent {
  position: fixed;
  max-width: 500px;
  min-width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  .topImgModal {
    cursor: default;

    .iconClose {
      position: absolute;
      width: 20px;
      top: -32px;
      right: 0px;
      filter: brightness(2.4);
      cursor: pointer;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.switchBtn {
  --nav-buttons-indent: -26px;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;

  @media (max-width: 576px) {
    width: 40px;
    height: 40px;
    --nav-buttons-indent: 10px;
  }

  &:hover {
    background-color: #ff7d1a;

    img {
      filter: brightness(10.0);
    }
  }
}

.containerBtn {
  display: none;

  @media (max-width: 576px) {
    display: block;
  }
}

.prevBtn {
  left: var(--nav-buttons-indent);
}
.nextBtn {
  right: var(--nav-buttons-indent);
}

.slider {
  background-color: rgba(0, 0, 0, 0.75);
}