.cart {
  position: relative;
  margin-right: 46px;

  @media (max-width: 576px) {
    margin-right: 16px;
  }

  .productsInCart {
    position: absolute;
    display: inline-block;
    padding-inline: 6px;
    top: -10px;
    right: -8px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    background-color: #ff7d1a;
    border-radius: 50%;
  }
  
  .cartIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(0.2);
  }

  .cart_window {
    position: absolute;
    width: 360px;
    height: 250px;
    top: 54px;
    transform: translateX(-62%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 14px 40px -15px rgba(0,0,0,0.5);
    overflow-y: auto;
    z-index: 10;

    @media (max-width: 576px) {
      transform: translateX(-72%);
    }

    @media (max-width: 425px) {
      width: 300px;
    }

    .cart_title {
      padding: 20px;
      font-size: 16px;
      font-weight: bold;
      border-bottom: 1px solid #dcdcdc;
    }

    .cartContent {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .emptyCartMsg {
        margin-top: 50px;
        text-align: center;
        color: #68707d;
        font-weight: bold;
      }

      .product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .productImg {
          width: 50px;
          height: 50px;
          border-radius: 4px;
        }

        .productInfo {
          color: #68707d;

          .productTile {
            margin-bottom: 6px;
          }

          .productTotalPrice {
            display: inline-block;
            margin-left: 8px;
            color: black;
            font-weight: bold;
          }
        }

        .deleteProductBtn {
          padding: 4px;
          background-color: transparent;
          border: none;
          cursor: pointer;
          transition: transform 0.2s;

          &:hover {
            transform: scale(1.1);

            img {
              filter: brightness(0.2);
            }
          }
        }
      }

      .checkoutBtn {
        width: 100%;
        padding: 20px 0;
        color: white;
        font-size: 15px;
        font-weight: bold;
        background-color: #ff7d1a;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.2s;
  
        &:hover {
          background-color: #fea561;
        }
      }
    }

  }
}
